@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary1: #556b5a;
  --color-primary2: #b08a4a;
  --color-primary3: #695e3e;
  --color-primary4: #e7ddcf;
  --color-primary5: #70838a;
  --color-secondary1: #2f3a33;
  --color-secondary2: #aabcbf;
  --color-secondary3: #8b947f;
  --color-secondary4: #f5f1ea;
  --color-secondary5: #914417;
  --color-opacity1: #e7ddcf80;
  --color-opacity2: #8b947f80;
  --font-montserrat: "Montserrat", sans-serif;
  --font-cormorant: "Cormorant Garamond", serif;
}

html, body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

main {
  padding: 0 80px;
}